.bar {
  min-height: 32px;
  background-color: transparent;

  label {
    font-family: $bar-font;
    color: $bar-fg;
  }

  button {
    border-radius: 20px;
  }

  .bar-section {    
    margin: 4px 4px 0 4px;
    border-radius: 20px;
    background-color: $bar-bg;
    border: 1px solid $bar-border;

    .workspaces {
      margin: $spacer;

      &.button {
        min-width: 0;
        margin: 0;
        padding-top: 0;
        padding-bottom: 0;
        border-radius: 50%;
        background-color: transparent;
      }
    }

    .datetime {
      .time {
        font-size: 1.2727rem;
        margin: $spacer;
      }
      .spacer {
        font-size: 1.2727rem;
      }
      .date {
        font-size: 1rem;
        margin: $spacer;
      }
    }

    .sysindicators {
      image {
        color: $bar-fg;
        margin: $spacer;
      }
    }
  }
}
