.bar {
  transition: $transition;
  /*background-color: $bar-bg;*/

  .bar-section {
    /*margin: 2px;*/
    margin: 4px 4px 0 4px;
    border: 1px solid $bar-border;
    border-radius: $bar-border-radius;
    background-color: $bar-bg;

    label {
      font-family: $bar-font;
      color: $bar-fg;
    }

    .panel-button {
      min-width: 22px;
      padding: 4px 6px;
      border-radius: $bar-border-radius;
    }

    .spacer {
      margin: $spacer-medium
    }

    .workspaces {
      margin: $spacer-small;

      &.button {
        min-width: 0;
        margin: 0;
        padding-top: 0;
        padding-bottom: 0;
        border-radius: 50%;
        background-color: transparent;
      }
    }

    .datetime {
      .time {
        font-size: 1.2727rem;
        margin: $spacer-small;
      }
      .date {
        font-size: 1rem;
        margin: $spacer-small;
      }
    }

    .sysindicators {
      image {
        min-width: 22px;
        min-height: 22px;
        color: $bar-fg;
        margin: $spacer-small;
      }
    }
  }
}
