@mixin notification() {
  /*&.critical {
    box-shadow: inset 0 0 .5em 0 $error-bg;
  }*/

  .content {
    .title {
      margin-right: $spacing;
      color: $fg;
      font-size: 1.1em;
    }

    .time {
      color: transparentize($fg, .2);
      padding-right: $padding;
    }

    .description {
      font-size: .9em;
      color: transparentize($fg, .2);
    }

    .icon {
      border-radius: $radius*0.8;
      margin-right: $spacing;

      /*&.img {
        border: $border;
      }*/
    }
  }

  box.actions {
    /*@include spacing(0.5);*/
    margin-top: $spacing;

    button {
      /*@include button;*/
      border-radius: $radius*0.8;
      font-size: 1.2em;
      padding: $padding * 0.7;
    }
  }
}

window.notifications {
  @include unset;
  .notification {
    @include notification;
    @include floating-widget;
    border-radius: $radius;

    .description {
      min-width: 350px;
    }
  }
}
